*{
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

#titulo{
    font-family: "Gravitas One", serif;
    font-weight: 200;
    font-size: large;
    font-style: normal;
}

a{
    text-decoration: none;
    color:inherit;
}

header{
    display:flex;
    background-color: black;
    align-items:center;
    width:100%;
}

header .bi{
    background-color: gold;
    margin: 10px;
    height:30px;
    display:flex;
}


header form{
    display: flex;
    margin:0px;
}

header img{
    margin-top:5px;
    margin-bottom:5px;
}

/* Nombre de usuario y color del footer (No recomendado pero accesible)*/
#nombre, footer ul{
    color:gold;
}

#usr_img{
    border-radius: 50%;
}

.categorias_ofc{
    margin-left:0.75em;
}

.card{
    margin:10px;
    background-image: linear-gradient(to top, yellow, 0.03%, white);
}

/*Boton de añadir al carrito*/

.btn-primary{
    transition: 0.2s ease-in;
}

.btn-primary:hover{
    filter:brightness(90%);
}

.offcanvas{
    color:gold;
    background-image: linear-gradient(to top, yellow, 0.03%, rgb(0, 0, 0));
}

/* Producto en carrusel */

.card img{
    width:100%;
    max-height: 250px; 
    object-fit: contain;
}

/* Carrusel */

.carousel-item{
    height:430px;
}

.carousel-item img {
    height: 100%;
}

.carousel-custom {
    width: 100%; /* evita que se haga gigante */
}

/*Menu desplegable*/

.dropdown-menu{
    background-color: black;
}

.dropdown-toggle{
    color:inherit;
}

.dropdown-item{
    color:gold;
}

.dropdown-menu .dropdown-item:hover {
    background-color: gold;
    color: black;
}

/* Borde de formulario */

input.form-control{
    border:1px solid black;
}

main{
    min-height: 600px;
}

@media (min-width:635px){
    #logo{
        transition:0.15s ease-in;
    }
    
    #logo:hover{
        transform: scale(110%);
    }
}

#form{
    display:flex;
}

@media (max-width:655px){
    #form{
        display:none;
    }
}

#logoCanv, #logo{
    border-radius: 10px;
    margin-right:5px;
}

#aside_menu{
    transition:0.2s ease-in;
}

#aside_menu:hover{
    transform:scale(115%);
}

#registro{
    transition:0.1s ease-in;
}

#registro:hover{
    background-color: orange;
}

/* Producto */

/*Para formatear y que aparezca el boton de añadir al carrito y comprar dentro del producto*/
#producto button:not(.btn-primary, .btn-warning){
    background-color: white;
    border:0px solid white;
}

.carousel-control-prev, .carousel-control-next {
    /*Lo bajo un poco*/
    top: 50%;
    /*Lo hago más bajo para que proporcionalmente se ajuste*/
    transform: translateY(-50%);
}

#comprar{
    margin-top:10px;
}

#registro{
    background-color: gold;
}

#producto{
    flex-direction: row;
}

@media (max-width:805px) {
    #producto{
        flex-direction: column;
    }
}

#color{
    margin-bottom:10px;
}

/* Footer */

footer{
    color:gold;
    min-height: 375px;
    padding-bottom: 0%;
    padding-bottom:0px;
}

footer h3{
    font-weight: bold;
}