<<<<<<< HEAD
header{
    display:flex;
    background-color: black;
    align-items:center;
    width:100%;
}
header .bi{
    background-color: gold;
    margin: 10px;
    height:30px;
    display:flex;
}
header form{
    display: flex;
    margin-left:37%;
}
header img{
    margin-top:5px;
    margin-bottom:5px;
}
/*.dropdown-toggle{
    margin-bottom:10px;
}*/
.categorias_ofc{
    margin-left:0.75em;
}
.card{
    width: 250px;
    margin:10px;
=======
header{
    display:flex;
    background-color: black;
    align-items:center;
    width:100%;
}
header .bi{
    background-color: gold;
    margin: 5px;
    height:30px;
    display:flex;
}
header form{
    display: flex;
    margin-left:37%;
>>>>>>> d5dc0a55ca67b088089a97887f279ec52698ae20
}