header{
    display:flex;
    background-color: black;
    align-items:center;
    width:100%;
}
header .bi{
    background-color: gold;
    margin: 5px;
    height:30px;
    display:flex;
}
header form{
    display: flex;
    margin-left:37%;
}