*{
    font-family: "Nunito", sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
    color:black;
}

header{
    display:flex;
    background-color: black;
    align-items:center;
    width:100%;
}
header .bi{
    background-color: gold;
    margin: 10px;
    height:30px;
    display:flex;
}
header .bi:hover{
    background: brightness(110%);
}
header form{
    display: flex;
    margin:0px;
}
header img{
    margin-top:5px;
    margin-bottom:5px;
}
/*.dropdown-toggle{
    margin-bottom:10px;
}*/
.categorias_ofc{
    margin-left:0.75em;
}
.card{
    margin:10px;
    background-image: linear-gradient(to top, yellow, 0.03%, white);
}
.card img{
    width:100%;
    max-height: 250px; 
    object-fit: contain;
}
.carousel-item{
    height:430px;
}

.carousel-item img {
    height: 100%;
}

.carousel-custom {
    width: 100%; /* evita que se haga gigante */
}